<h1>Privacy Policy</h1>
<p>As of: August, 10th, 2019<h2>Contents</h2>
 <ul class="index">
     <li><a class="index-link" href="#Responsible"> Responsible</a></li>
     <li><a class="index-link" href="#Overview"> Overview of the processing</a></li>
     <li><a class="index-link" href="#legal-base"> Relevant legal bases</a></li>
     <li><a class="index-link" href="#safety"> Safety measures</a></li>
     <li><a class="index-link" href="#contact"> Contact</a></li>
     <li><a class="index-link" href="#hosting"> Provision of the online offer and web hosting</a></li>
     <li><a class="index-link" href="#updates"> Modification and update of the privacy policy</a></li>
 </ul>

<h2 id="Responsible">Responsible</h2>
<p>{name}</p>
<p><strong>E-Mail-Address</strong>: {email}</p>

<h2 id="Overview">Overview of the processing</h2>
<p>In short this website is hosted by heroku on European servers and uses third party services <a href="https://fontawesome.com/privacy">fontawesome</a> and <a href="https://developers.google.com/fonts/faq#what_does_using_the_google_fonts_api_mean_for_the_privacy_of_my_users">google fonts</a>.</p>
<p>The following summary summarizes the types of data processed and the purposes of their processing and refers to the individuals concerned.</p>

<h3>Types of processed data</h3>
<ul>
    <li><p>Anonymized data provided by users of the UCM research app.</p></li>
    <li><p>Content data (e.g., text input, uploaded tabular files (CSV), photographs, videos).</p></li>
    <li><p>Contact information (e.g., e-mail, phone numbers).</p></li>
    <li><p>Meta / communication data (e.g., device information, IP addresses).</p></li>
    <li><p>Usage data (e.g., websites visited, access times).</p></li>
</ul>

<h3>Categories of affected persons</h3>
<ul>
    <li><p>Communication partners.</p></li>
    <li><p>Users (e.g., website visitors, online service users).</p></li>
</ul>

<h3>Purposes of processing</h3>
<ul>
    <li><p>Content Delivery Network (CDN).</p></li>
    <li><p>Contact requests and communication.</p></li>
</ul>
<h3 id="legal-base">Relevant legal bases</h3>
<p>In the following, we share the legal basis of the General Data Protection Regulation (GDPR), on the basis of which we process the personal data. Please note that in addition to the provisions of the GDPR, the national data protection regulations may apply in your home or country of residence.</p>
<p><strong>Performance of the contract and pre-contractual inquiries (Article 6 (1) sentence 1 (b) GDPR)</strong> - The processing is necessary for the performance of a contract of which the data subject is a party or for the performance of pre-contractual actions which are carried out at the request of the data subject.</p>
<p><strong>Legitimate interests (Article 6 (1) sentence 1 (f) of the GDPR)</strong> - Processing is necessary to safeguard the legitimate interests of the controller or a third party, provided that the interests or fundamental rights and freedoms of the data subject requiring the protection of personal data do not prevail.</p>
<p><strong>National data protection regulations in Germany</strong>: In addition to the data protection regulations of the General Data Protection Regulation, national regulations on data protection in Germany apply. This includes in particular the law on the protection against misuse of personal data in data processing (Bundesdatenschutzgesetz - BDSG). In particular, the BDSG contains special rules on the right of access, the right of cancellation, the right to object, the processing of special categories of personal data, processing for other purposes and for transmission, as well as automated decision-making in individual cases, including profiling. Furthermore, it regulates data processing for the purposes of the employment relationship (§ 26 BDSG), in particular with regard to the establishment, implementation or termination of employment relationships and the consent of employees. Furthermore, state data protection laws of the individual federal states can be applied.</p>

<h2 id="safety">Safety measures</h2>
<p>We will take appropriate technical and organizational measures in accordance with the law, taking into account the state of the art, the implementation costs and the nature, scope, circumstances and purposes of the processing, the different likelihoods of occurrence and the extent to which the rights and freedoms of individuals are threatened to ensure a level of protection appropriate to the risk.</p>
<p>Measures include, in particular, integrity and availability of data by controlling physical and electronic access to the data as well as their access, input, transfer, availability and segregation.</p>
<p><strong>SSL Encryption (https)</strong>: In order to protect your data transmitted via our online offer, we use SSL encryption. You will recognize such encrypted connections with the prefix https: // in the address bar of your browser.</p>

<h2 id="contact">Contact</h2>
<p>When contacting me (for example via contact form, e-mail, telephone or via social media), the details of the requesting persons are processed to the extent necessary to answer the contact requests and any requested action.</p>
<p>Responding to the contact requests in the context of contractual or pre-contractual relationships is to fulfill our contractual obligations or to answer (pre) contractual requests and otherwise on the basis of legitimate interests in answering the requests.</p>
<ul class="m-elements">
    <li><p><strong>Processed data types:</strong> Inventory data (e.g., names, addresses), contact information (e.g., e-mail, telephone numbers), content data.</p></li>
    <li><p><strong>Affected people:</strong> Communication partners.</p></li>
    <li><p><strong>Purposes of processing:</strong> Contact requests and communication.</p></li>
    <li><p><strong>Legal Basis:</strong> Performance of the contract and pre-contractual inquiries (Article 6 (1) sentence 1 (b) of the GDPR), entitled interests (Article 6 (1) (1) (f) of the GDPR).</p></li>
</ul>

<h2 id="hosting">Provision of the online offer and web hosting</h2>
<p>To provide our online offer safely and efficiently, we use the services of one or more web hosting providers, namely heroku by salesforce, whose servers (or servers managed by them) can access the online offer. For these purposes, we may use infrastructure and platform services, computing capacity, storage and database services, as well as security and technical maintenance services.</p>
<p>For detailed information look up their <a href="https://www.heroku.com/policy/security">security policy</a>.</p>
<p>The data processed in the provision of the hosting offer may include all information relating to the use and communication of the users of our online offer. This includes, on a regular basis, the IP address necessary to deliver the content of online content to browsers, and all submissions made within our online offer or web pages.</p>
<p><strong>E-mail delivery and hosting</strong>: We use a webhosting service  (STRATO) for the sending, receiving and saving of e-mails. For these purposes the addresses of the recipients as well as sender as well as further information concerning the e-mail dispatch (for example the participating providers) as well as the contents of the respective e-mails are processed. The aforementioned data may also be processed for purposes of SPAM detection. We ask you to note that e-mails on the Internet are generally not encrypted. As a rule, e-mails are encrypted on the transport route, but (if no so-called end-to-end encryption method is used) not on the servers from which they are sent and received. We can therefore take no responsibility for the transmission of emails between the sender and the reception on our server.</p>
<p><strong>Collection of access data and log files</strong>: Our web hosting provider collects data for every access to the server (so-called server log files). The server logfiles can contain the address and name of the retrieved web pages and files, the date and time of retrieval, transferred data volumes, notification of successful retrieval, browser type and version, the user's operating system, referrer URL (the previously visited page) and, as a rule, IP addresses. Addresses and the requesting provider belong.</p>
<p>The server log files can be used for security purposes, for example, to avoid overloading the servers (especially in the case of abusive attacks, so-called DDoS attacks) and second, to ensure the utilization of the servers and their stability.</p>
<p><strong>Content-Delivery-Network</strong>: We may use a Content Delivery Network (CDN). A CDN is a service that allows content from an online offering, especially large media files, such as graphics or program scripts, to be delivered faster and more securely using regionally distributed and Internet-connected servers.</p>
<ul class="m-elements">
    <li><p><strong>Processed data types:</strong> Content data (e.g., text input, files, photographs, videos), usage data (e.g., visited web pages, interest in content, access times), meta / communication data (e.g., device information, IP addresses).</p></li>
    <li><p><strong>Affected people:</strong> Users (e.g., website visitors, online service users).</p></li>
    <li><p><strong>Purposes of processing:</strong> Content Delivery Network (CDN).</p></li>
    <li><p><strong>Legal Basis:</strong> Legitimate interests (Article 6 (1) sentence 1 (f) of the GDPR).</p></li>
</ul>

<h2 id="updates">Modification and update of the privacy policy</h2>
<p>We ask you to regularly inform yourself about the content of our privacy policy. We will adjust the Privacy Policy as soon as the changes to the data processing we make require it.</p>

