[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cssmin = "*"
dash = "*"
gunicorn = "*"
jsmin = "*"
numpy = "*"
pandas = ">=1.0.0"
psycopg2 = "*"
python-dotenv = "*"
scikit-learn = "*"
Flask-Assets = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
markupsafe = "*"
mako = "*"
werkzeug = "*"
webassets = "*"
flask = "*"
dash-renderer = "*"
click = "*"
jinja2 = "*"
six = "*"
python-dateutil = "*"
sqlalchemy = "*"
dash-html-components = "*"
dash-table = "*"
dash-core-components = "*"
joblib = "*"
future = "*"
scipy = "*"
plotly = ">=4.8.0"
setuptools = "*"
flask-compress = "*"
pytz = "*"

[requires]
python_version = "3.7"
