<div class="content text-left">
    <h4>Information according to § 5 German Telemedia Act</h4>
    <div class="contact-details">
        <div class="con-info clearfix">{name}</div>

          <div class="con-info clearfix">{street}</div>

          <div class="con-info clearfix">{postal} {city}</div>

    </div>
    <h4>Contact</h4>
    <div>
      <div class="con-info clearfix">E-Mail: {email}</div>
    </div>


    <h4>Responsible for contents acc. to § 55 II German Federal Broadcasting Agreement (RstV)</h4>
    <div>
      <div class="con-info clearfix">{name}</div>

      <div class="con-info clearfix">{street}</div>

      <div class="con-info clearfix">{postal} {city}</div>

    </div>
    <hr>
</div>
